{% load socialaccount %} 
{% if user.is_authenticated %}
<header class="header">
  <nav
    class="navbar navbar-expand-sm"
    style="background: white; padding: 0.25rem;"
  >
    <span>
      <button
        class="dropdown-toggle"
        data-toggle="dropdown"
        style="background: none; border: none;"
      >
        <img
          width="35"
          height="35"
          style="border-radius: 70px;"
          src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
        />
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu m-1 p-1 text-muted" style="font-size: normal;">
        <li>{{user.first_name}} {{user.last_name}}</li>
        <li>{{user.email}}</li>
        <div class="dropdown-divider"></div>
        <li>
          <a
            id="logout"
            class="btn btn-light btn-sm text-warning btn-block"
            href="/accounts/logout">
            Logout
          </a>
        </li>
      </ul>
    </span>
  </nav>
</header>
<div id="loader" style="text-align: center;">
  <br />
  Loading lists&nbsp;&nbsp;
  <span class="spinner-grow spinner-grow-sm"></span>
  <span class="spinner-grow spinner-grow-sm"></span>
  <span class="spinner-grow spinner-grow-sm"></span>
</div>
{% else %}
<script>
  document.body.style.backgroundColor = "white";
</script>

<div
  class="card card-body text-center p-2"
  style="
    max-width: 400px;
    margin: auto;
    color: grey;
    background: transparent;
    border: none;
  "
>
  <span class="text-dark text-left">Sign in</span>
  <hr />
  {% load socialaccount %}

<a href="{% provider_login_url "facebook" method="js_sdk" %}">Login Button image</a>
  <a
    class="text-dark text-left"
    role="button"
    style="text-transform: none;"
    id="google_login"
    href="/accounts/google/login"
  >
    <img
      width="20px"
      style="margin-bottom: 3px; margin-right: 5px;"
      alt="Google sign-in"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
    />Google
  </a>
  <hr />
</div>

{% endif %}
<!-- hidden spans -->
<span class="d-none" id="logged_in_username">{{user}}</span>
<span class="d-none" id="logged_in_userid"></span>
<span class="d-none" id="listid">{{listid}}</span>
<span class="d-none"> {{user}}</span>
<span class="d-none"> {{user.username}}</span>
<span class="d-none"> {{user.first_name}}</span>
<span class="d-none"> {{user.last_name}}</span>
<span class="d-none"> {{user.email}}</span>
