{% load socialaccount %}

<header class="header">
  <nav class="navbar navbar-expand-sm bg-white">
    {% if user.is_authenticated %}
    <span>
      <a id="back" href=""><i class="fas fa-arrow-left"></i></a>
      <button
        class="dropdown-toggle"
        data-toggle="dropdown"
        style="background: none; border: none;"
      >
        <span>&nbsp;&nbsp;{{listtitle}}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu m-1 p-1 text-muted" style="font-size: normal;">
        <li>{{user.first_name}} {{user.last_name}}</li>
        <li>{{user.email}}</li>
        <div class="dropdown-divider"></div>
        <li class="nav-item mb-1">
          <a class="text-danger btn btn-block btn-light" id="deletelist"
            >Delete list</a
          >
        </li>
        <li class="nav-item">
          <a
            id="logout"
            class="btn btn-light btn-block text-warning"
            href="/accounts/logout"
            >Logout</a
          >
        </li>
      </ul>
    </span>

    {% else %}
    <a id="google_login" href="/accounts/google/login">
      Sign in with Google
    </a>
    {% endif %}
  </nav>
</header>

<div id="loader" style="text-align: center;">
  <br />
  <span id="loader-text">Loading tasks&nbsp;&nbsp;</span>
  <span class="spinner-grow spinner-grow-sm"></span>
  <span class="spinner-grow spinner-grow-sm"></span>
  <span class="spinner-grow spinner-grow-sm"></span>
</div>

<!-- hidden spans -->
<span class="d-none" id="logged_in_username">{{user}}</span>
<span class="d-none" id="logged_in_userid"></span>
<span class="d-none" id="listid">{{listid}}</span>
<span class="d-none" id="listtitle">{{listtitle}}</span>
<span class="d-none">{{user}}</span>
<span class="d-none">{{user.username}}</span>
<span class="d-none">{{user.first_name}}</span>
<span class="d-none">{{user.last_name}}</span>
<span class="d-none">{{user.email}}</span>
