{% load socialaccount %} {% providers_media_js %} {% load static %}

<!DOCTYPE html>
<html>
  {% include 'frontend/head.html' %}
  <body>
    {% include 'frontend/tasks_header.html' %}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <main>
            <div id="task-container">
              <div id="form-wrapper">
                <br />
                <form id="form">
                  <div class="flex-wrapper">
                    <div class="input-group mb-3">
                      <input
                        id="title"
                        name="title"
                        type="text"
                        class="form-control text-shaddlebrown"
                        style="border: 1px solid #ccc;"
                        placeholder="Task Name"
                      />
                      <div class="input-group-append">
                        <button
                          id="addTaskBtn"
                          class="btn"
                          style="background: #723e28; color: white;"
                          type="submit"
                        >
                          Add Task
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div id="tasks-wrapper">
                <div id="pending-tasks"></div>

                <div class="text-center p-1">
                  <a
                    id="show-completed-tasks"
                    class="btn btn-sm badge-shaddlebrown text-light d-none"
                    data-toggle="collapse"
                    href="#completed-tasks"
                    role="button"
                    aria-expanded="false"
                    aria-controls="completedTasks"
                  >
                    Show completed tasks
                  </a>
                </div>
                <div class="collapse" id="completed-tasks"></div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var listid = $("#listid").text();
      var baseurl = window.location.origin;
      var listtitle = $("#listtitle").text();
      var csrftoken = getCookie("csrftoken");
      var activeItem = null;
      var tasks_snapshot = [];
      var loggedInUsername = $("#logged_in_username").text();

      var previous = null;
      var current = null;

      $("#back").attr("href", baseurl);

      function getUserId() {
        var url = baseurl + "/api/get-user-id/" + loggedInUsername;
        console.log(`Fetching userid for username [${loggedInUsername}].. `);
        fetch(url)
          .then((resp) => resp.json())
          .then(function (data) {
            console.log(
              `Fetching userid for username [${loggedInUsername}]..Done `
            );
            console.log(`UserID = [${data.id}]`);
            $("#logged_in_userid").text(data.id);
          });
      }

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      function editItem(item) {
        console.log(`Item clicked [${item.title}]`);
        activeItem = item;
        document.getElementById("title").value = activeItem.title;
        $("#title").focus();
        $("#form")
          .addClass("animate__animated animate__shakeX")
          .one(
            "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
            function () {
              $(this).removeClass("animate__animated animate__shakeX");
            }
          );
      }

      function deleteItem(item) {
        console.log(`Deleting item with id[${item.id}]`);
        $("#task-delete-loader-" + item.id).html(
          'Deleting <div class="spinner-border spinner-border-sm"></div>'
        );
        fetch(baseurl + `/api/task-delete/${item.id}`, {
          method: "DELETE",
          headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken,
          },
        }).then((response) => {
          buildTasks();
        });
      }

      function strikeUnstrike(item) {
        url = baseurl + `/api/task-update/${item.id}`;
        var listid = $("#listid").text();
        console.log("Toglling complete status..");
        console.log(`URL used [${url}]`);
        $("#task-loader-" + item.id).removeClass("d-none");
        item.completed = !item.completed;
        fetch(url, {
          method: "POST",
          headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify({
            title: item.title,
            completed: item.completed,
            _list: $("#listid").text(),
          }),
        }).then((response) => {
          console.log("Toglling complete status..Done");
          console.log("Rebuilding tasks");
          buildTasks();
        });
      }

      function buildTasks() {
        var url = baseurl + `/api/tasks/${listid}`;
        var wrapper = document.getElementById("tasks-wrapper");

        fetch(url)
          .then((resp) => resp.json())
          .then(function (data) {
            // Refresh the page only if there is a change in the response
            // that is - if the tasks is/are modified
            // current and previous variables keep track of the values
            current = JSON.stringify(data);
            if (!(previous && current && previous !== current)) {
              // No change in response - no need to refresh the UI
              return;
            }
            console.log("Change detected - rerender the tasks");
            // Continue with the flow
            previous = current;
            $("#loader").hide("slow");
            $("#addTaskBtn").html("Add Task");
            // console.log(`Fetching tasks/s using [${url}]..Done`);
            $("#pending-tasks").empty();
            $("#completed-tasks").empty();
            var tasks = data;
            var completedTasksCount = 0;
            var pendingTasksCount = 0;

            for (var i in tasks) {
              var item;
              var taskid = tasks[i].id;
              var completed = tasks[i].completed;
              var title = `<span class="title">${tasks[i].title}</span>`;
              if (tasks[i].completed == true) {
                completedTasksCount += 1;
                completedItem = `
                  <div style="display:block;" class="shadow-sm p-2 mb-2 bg-white rounded animate__animated animate__slideInUp">
                    <span id="data-row-${i}" class="task-wrapper">
                      <input type="checkbox"  class="cb" checked="checked">
                      <span class="text-dark"><del>${title}</del></span>
                      <span class="d-none" id="task-loader-${taskid}">
                        <small><span class="spinner-grow spinner-grow-sm fa-xs"></span></small>
                        <small><span class="spinner-grow spinner-grow-sm fa-xs"></span></small>
                        <small><span class="spinner-grow spinner-grow-sm fa-xs"></span></small>
                      </span>
                      <span id="task-delete-loader-${taskid}" class="text-tomato" style="float: right">
                        <i class="fas fa-trash-alt delete"></i>&nbsp;&nbsp;&nbsp;
                      </span>
                    </span>
                  </div>`;
                $("#completed-tasks").append(completedItem);
              } else {
                pendingTasksCount += 1;
                pendingItem = `
                  <div style="display:block;" class="shadow-sm p-2 mb-2 bg-white rounded animate__animated animate__slideInUp">
                    <span id="data-row-${i}" class="task-wrapper">
                      <input type="checkbox" class="cb">
                      <span class="text-dark">${title}</span>
                      <span class="d-none" id="task-loader-${taskid}">
                        <small><span class="spinner-grow spinner-grow-sm fa-xs"></span></small>
                        <small><span class="spinner-grow spinner-grow-sm fa-xs"></span></small>
                        <small><span class="spinner-grow spinner-grow-sm fa-xs"></span></small>
                      </span>
                      <span  id="task-delete-loader-${taskid}" class="text-tomato" style="float: right">
                        <i class="fas fa-trash-alt delete"></i>&nbsp;&nbsp;&nbsp;
                      </span>
                    </span>
                  </div>`;
                $("#pending-tasks").append(pendingItem);
              }
            }
            if (completedTasksCount > 0) {
              $("#show-completed-tasks").removeClass("d-none");
            }
            tasks_snapshot = tasks;
            for (var i in tasks) {
              var deleteBtn = document.getElementsByClassName("delete")[i];
              var title = document.getElementsByClassName("title")[i];
              var checkbox = document.getElementsByClassName("cb")[i];
              deleteBtn.addEventListener(
                "click",
                (function (item) {
                  return function () {
                    deleteItem(item);
                  };
                })(tasks[i])
              );

              title.addEventListener(
                "click",
                (function (item) {
                  return function () {
                    editItem(item);
                  };
                })(tasks[i])
              );

              checkbox.addEventListener(
                "change",
                (function (item) {
                  return function () {
                    strikeUnstrike(item);
                  };
                })(tasks[i])
              );
            }
          });
      }

      function addTask() {
        console.log("Adding task..");
        var inp = $("#title").val();
        if (jQuery.trim(inp).length == 0) {
          //do something
          alert("Task can't be empty!");
          return false;
        }
        $("#addTaskBtn").html(
          'Adding Task <div class="spinner-border spinner-border-sm"></div>'
        );
        var url = baseurl + "/api/task-create/";
        if (activeItem != null) {
          var url = baseurl + `/api/task-update/${activeItem.id}`;
          activeItem = null;
        }

        var title = document.getElementById("title").value;
        fetch(url, {
          method: "POST",
          headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify({ title: title, _list: listid }),
        }).then(function (response) {
          console.log("Adding task..Done");
          buildTasks();
          document.getElementById("form").reset();
        });
      }

      function deleteTask() {
        if (confirm(`Are you sure to delete list [${listtitle}]?`)) {
          $("#loader-text").html(
            `Deleting list <span class="badge badge-shaddlebrown">${listtitle}</span>`
          );
          $("#loader").show();

          console.log(`Deleting list[${listtitle}] with listid=[${listid}]..`);
          var url = baseurl + `/api/list-delete/${listid}`;
          fetch(url, {
            method: "DELETE",
            headers: {
              "Content-type": "application/json",
              "X-CSRFToken": csrftoken,
            },
          }).then((response) => {
            console.log(
              `Deleting list[${listtitle}] with listid=[${listid}]..Done`
            );
            //buildLists();
            window.location.href = baseurl;
          });
        }
        return false;
      }
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#form-wrapper").submit(function (e) {
          e.preventDefault();
          addTask();
        });

        $("#deletelist").click(function () {
          deleteTask();
        });

        getUserId();

        // Setting previous and current to different values to force initial tasks refresh
        previous = "x";
        current = "y";
        buildTasks();
        setInterval("buildTasks()", 60000);
      });
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
